<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>ABOUT US</title>
</head>
<body>
    <nav>
        <div class="navTop">
            <div class="navItem">
                <img src="../images/mainlogo (1).jpg" alt=""  class="mainlogo">
            </div>
            <div class="navItem">
              <a href="/login" style="text-decoration: none;"><h5 style="color:white; padding: 0%;margin:0%;">(LOGIN)</h5>
                <div class="User"><img src="../images/icons8-user-96.png" alt=""></div></a>
            </div>
            
          
                    
                  
                
            </div>
        </div>
       
          </div>
        <div class="navBottom">
          
          <h3 class="menuitems0"><a style="text-decoration:none; color: white;"  href="/">HOME</h3></a>
          <a style="text-decoration:none" href="/Nike"><h3 class="menuitems5">NIKE</h3></a>
          <a style="text-decoration:none" href="/Adidas">   <h3 class="menuitems6">ADIDAS</h3></a>
              <a style="text-decoration:none" href="/Puma">  <h3 class="menuitems7">PUMA</h3></a>
                  <a style="text-decoration:none" href="/Mizuno">   <h3 class="menuitems8">MIZUNO</h3></a>
          

            <h3 class="menuitems2"><a style="text-decoration:none; color: white;"  href="/product">PRODUCTS</h3></a>
            <h3 class="menuitems2"><a style="text-decoration:none; color: white;"  href="/cart">CARTS</h3></a>
            <h3 class="menuitems3"><a style="text-decoration:none; color: white;"  href="/aboutus">ABOUT US</h3></a>
            <h3 class="menuitems4"><a style="text-decoration:none; color: white;"  href="/contactus">CONTACT US</h3></a>
            <h3 class="menuitems2"><a style="text-decoration:none; color: white;"  href="/paymeent">PAYMENT</h3></a>

            
           
      
        
        </div> 
    </nav>
    <div class="abouttitlepara" >
        <img src="../images/LOGO.png" alt="" class="abouttitlellogo">
    
    
    <h5 class="abouttitlepara0"> <br><br><br>
    Welcome to SUPERSOLE, where passion for football meets premium quality footwear. As fervent players ourselves, we understand the importance of the right gear to elevate your performance. With a curated selection from top brands including Nike, Adidas, Puma, and Mizuno, we bring you the finest football shoes designed for champions.
    </h5>
    <br><br><br><br><br><br><br><br><br><br>
    <img src="../images/vecteezy_nike-logo-white-with-name-clothes-design-icon-abstract_10994236.jpg" alt="" class="aboutimg0">
    <img src="../images/adidaslogoooo.png" alt="" class="aboutimg1">
    <img src="../images/pumaaaaaaaaalooo.jpg" alt="" class="aboutimg2">
    <img src="../images/mizuno-logo.png" alt="" class="aboutimg3">
    <h5 class="abouttitlepara1">
    At SUPERSOLE, excellence is our standard. Every product is meticulously sourced, ensuring 100% authenticity with approved licenses from renowned manufacturers. Our commitment to quality extends beyond promises—we guarantee that each pair of football shoes meets the highest standards of craftsmanship and durability. <br>
    With our unwavering dedication to customer satisfaction, we ensure stock availability is always up to the mark, so you never miss out on your favorite styles. Trust in our reliability to deliver the footwear you need, when you need it.
    As you explore our collection, rest assured that each football boot is crafted to enhance your performance on the field. From superior traction to responsive cushioning, our shoes are engineered to empower your game and take you to new heights.
    </h5>
    <br><br><br><br><br><br><br><br>
    <h5 class="abouttitlepara2">
    <img src="../images/size.png" alt="" class="aboutimg4">
    <img src="../images/—Pngtree—warranty icon good for packaging_6074998.png" alt="" class="aboutimg5">
    <img src="../images/pngegg (1).png" alt="" class="aboutimg6">
    Additionally, we adhere to strict terms and conditions to safeguard your interests. Our policies cover aspects such as sizing, returns, and warranty to ensure a seamless shopping experience. Your satisfaction is our priority, and we stand by our products with confidence.
    Join us at SUPERSOLE and embark on your football journey with the assurance of premium quality, authenticity, and reliability. Step onto the field with confidence—because with us, you're geared for success.</div>
    </h5>
    <br><br><br><br><hr><br><br><br><br>
    <div>
      <footer class="footer">
        
        <p class="about">ABOUT US!<br><br>"Welcome to the ultimate destination for elite football. 
             Elevate your game <br>with our premium selection from Nike, Adidas, Puma, and Mizuno. 
              Whether<br> you're aiming for precision, speed, or control, our curated collection ensures<br> you step onto the field with confidence and style.
            Dominate the pitch and <br>ignite your fame with the best in football footwear."</p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="footerlist">
              <ul class="brands" style="color: white; list-style-type: disc;">
                <a style="text-decoration:none; color: white;"  href="/Nike"> <li>Nike</li></a><br>&nbsp;
                <a style="text-decoration:none; color: white;"  href="/Adidas"> <li>Adidas</li></a><br>&nbsp;
                <a style="text-decoration:none; color: white;"  href="/Puma"> <li>Puma</li></a><br>&nbsp;
                  <a style="text-decoration:none; color: white;"  href="/Mizuno"><li>Mizuno</li></a>
    
              </ul>
              <hr class="vertical-line">
              <ul class="links" style="color: white; list-style-type: disc;">
                <a style="text-decoration:none; color: white;"  href="/"><li>Home</li></a> <br>&nbsp;
              <a style="text-decoration:none; color: white;"  href="/product"><li>Products</li></a><br>&nbsp;
              <a style="text-decoration:none; color: white;"  href="/aboutus"><li>About</li></a><br>&nbsp;
              <a style="text-decoration:none; color: white;"  href="/contactus"> <li>ContactUs</li></a>
              </ul>
               <div class="divfsocials11">
                
                      <p style="color: white; margin-top: -1ppx;"><b><u style="color: white;"><img src="../images/pneeeeeintsa.png" alt="" class="fsocials2">Instagram:</u></b> <a style="text-decoration:none; color: white;" href="https://www.instagram.com/awais___siddiqui/?next=%2F#">SuperSole.com</a>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="../images/—Pngtree—whatsapp mobile software icon_8704828.png" alt="" class="fsocials1"><u>Whatsapp:</u></b>+91 73506 57867</p></div>
                        
                      <br>
                      <br>
                      <br><br><br>
                      <div class="rights">
                      <p style="color: rgba(102, 101, 101, 0.786); font-size: 24; font-style: italic;"><br><br><br><br><b>SUPERSOLE</b> All rights reserved &#169;</p></div>
            
            
           
        </footer>
</body>
</html>