<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>SUPERSOLE</title>

   
</head>
<body>
    <nav>
        <div class="navTop">
            <div class="navItem">
                <img src="./images/mainlogo (1).jpg" alt="" width="400px">
            </div>
            
                    <div class="navItem">
                        <button class="productbutton">
                            Products 
                         </button>
                    </div>
                    <div class="navItem">
                        <div class="User"><i class="fa-solid fa-user"></i></div>
                    </div>
                
            </div>
        </div>
        <div class="navBottom">
            <h3 class="menuitems1">NIKE</h3>
            <h3 class="menuitems2">ADIDAS</h3>
            <h3 class="menuitems3">PUMA</h3>
            <h3 class="menuitems4">MIZUNO</h3>
        </div>

        
    </nav>
    
    <div class="prodlogoback"><img src="./images/vecteezy_nike-logo-white-with-name-clothes-design-icon-abstract_10994236.jpg" alt="" class="prodlogo"></div> 
  <div class="div1prod">
    <span class="close1">X</span>
    <img src="./images/Nike Mercurial Superfly 9 Elite.png" alt="" class="nike1prod">
    <img src="./images/vecteezy_cr7-logo-symbol-black-clothes-design-icon-abstract-football_10994282-removebg-preview.png" alt="" class="nike1logo">

    
    <div class="prodtitles">
        <h1 class="prodtitle">NIKE MERCURIAL SUPERFLY 9 ELITE</h1>
        <p class="prodcolor">Lemonade Black  </p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
<div class="blackback">
   <div class="nike1">
    <button class="prodniketitle">&nbsp;&nbsp;NIKE MERCURIAL SUPERFLY 9 ELITE&nbsp;&nbsp;</button>
     <img src="./images/Nike Mercurial Superfly 9 Elite 3pic.png" alt="" class="prodnike1" height="650px" width="32.2%">
    <img src="./images/Nike Mercurial Superfly 9 Elite.png" alt="" class="prodnike1" height="650px" width="32.2%">
    <img src="./images/Nike Mercurial Superfly 9 Elite 2pic.png" alt="" class="prodnike1" height="650px" width="32.2%">
    
    
   </div>
<br><p class="blackp"></p><br>
<div class="div2prod">
    <span class="close2">X</span>
    <img src="./images/Nike Zoom Mercurial superfly 9 Elite.jpg" alt="" class="nike2prod">
    <img src="./images/image-removebg-preview (6).png" alt="" class="nike2logo">

    
    <div class="prodtitles">
        <h1 class="prodtitle">NIKE MERCURIAL SUPERFLY 9 ELITE</h1>
        <p class="prodcolor">Bluish Lemon</p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 25,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
   <div class="nike2">
    <button class="prodniketitle">&nbsp;&nbsp;NIKE ZOOM MERCURIAL SUPERFLY 9 ELITE</button>
    <img src="./images/Nike Zoom Mercurial superfly 9 Elite. 3pic.png" alt="" class="prodnike2" height="650px" width="32.2%">
    <img src="./images/Nike Zoom Mercurial superfly 9 Elite.jpg" alt="" class="prodnike2" height="650px" width="32.2%">
    <img src="./images/Nike Zoom Mercurial superfly 9 Elite. 2picjpg.png" alt="" class="prodnike2" height="650px" width="32.2%">
   
   
    </div>
<br><p class="blackp"></p><br>
<div class="div3prod">
    <span class="close3">X</span>
    <img src="./images/Nike superfly 9 Elite Mercurial Dream speed.png" alt="" class="nike3prod">
    <img src="./images/vecteezy_cr7-logo-symbol-black-clothes-design-icon-abstract-football_10994282-removebg-preview.png" alt="" class="nike1logo">

    
    <div class="prodtitles">
        <h1 class="prodtitle">NIKE MERCURIAL SUPERFLY 9 ELITE SPEED</h1>
        <p class="prodcolor">Green Lime</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
    <div class="nike3">
     <button class="prodniketitle">&nbsp;&nbsp;NIKE MERCURIAL SUPERFLY 9 ELITE SPEED</button>
     <img src="./images/Nike superfly 9 Elite Mercurial Dream speed 3pic.png"  alt="" class="prodnike3" height="650px" width="32.2%">
     <img src="./images/Nike superfly 9 Elite Mercurial Dream speed.png"  alt="" class="prodnike3" height="650px" width="32.2%">
     <img src="./images/Nike superfly 9 Elite Mercurial Dream speed 2pic.png"  alt="" class="prodnike3" height="650px" width="32.2%">
   
   
</div>
<br><p class="blackp"></p><br>
<div class="div4prod">
    <span class="close4">X</span>
    <img src="./images/Nike superfly 9 Elite Mercurial Dream speed orange 3pic.png" alt="" class="nike4prod">
    <img src="./images/vecteezy_cr7-logo-symbol-black-clothes-design-icon-abstract-football_10994282-removebg-preview.png" alt="" class="nike1logo">

    
    <div class="prodtitles">
        <h1 class="prodtitle">NIKE MERCURIAL SUPERFLY 9 ELITE SPEED</h1>
        <p class="prodcolor">Tangy Orange</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
<div class="nike4">
    <button class="prodniketitle">&nbsp;&nbsp;NIKE MERCURIAL SUPERFLY 9 ELITE SPEED</button>
    <img src="./images/Nike superfly 9 Elite Mercurial Dream speed orange 3pic.png"  alt="" class="prodnike4" height="650px" width="32.2%">
    <img src="./images/Nike superfly 9 Elite Mercurial Dream speed orange .png"  alt="" class="prodnike4" height="650px" width="32.2%">
    <img src="./images/Nike superfly 9 Elite Mercurial Dream speed orange 2pic.png"  alt="" class="prodnike4" height="650px" width="32.2%">
   
   
</div>
<br><p class="blackp"></p><br>
<div class="div5prod">
    <span class="close5">X</span>
    <img src="./images/Nike PhantomGX2 Elite.png" alt="" class="nike5prod">
    <img src="./images/image-removebg-preview (7).png" alt="" class="nike2logo">

    
    <div class="prodtitles">
        <h1 class="prodtitle">NIKE PHANTOMGX2 ELITE</h1>
        <p class="prodcolor">White Metallic gold</p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 24,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>26,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
<div class="nike5">
    <button class="prodniketitle">&nbsp;&nbsp;NIKE PHANTOMGX2 ELITE&nbsp;&nbsp;</button>
    <img src="./images/Nike PhantomGX2 Elite 2pic.png"  alt="" class="prodnike5" height="650px" width="32.2%">
    <img src="./images/Nike PhantomGX2 Elite.png"  alt="" class="prodnike5" height="650px" width="32.2%">
    <img src="./images/Nike PhantomGX2 Elite 3pic.png"  alt="" class="prodnike5" height="650px" width="32.2%">
   
   
</div>
<br><p class="blackp"></p><br>
<div class="div6prod">
    <span class="close6">X</span>
    <img src="./images/phantom-gx-2-elite-fg-low-top-.jpg" alt="" class="nike6prod">
    <img src="./images/image-removebg-preview (7).png" alt="" class="nike2logo">

    
    <div class="prodtitles">
        <h1 class="prodtitle">NIKE PHANTOMGX2 ELITE</h1>
        <p class="prodcolor">Midnight Black</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 29,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>34,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
<div class="nike6">
    <button class="prodniketitle">&nbsp;&nbsp;NIKE PHANTOMGX2 ELITE&nbsp;&nbsp;</button>
    <img src="./images/phantom-gx-2-elite-fg-low-top-3.jpg"  alt="" class="prodnike9" height="650px" width="32.2%">
    <img src="./images/phantom-gx-2-elite-fg-low-top-.jpg"  alt="" class="prodnike9" height="650px" width="32.2%">
    <img src="./images/phantom-gx-2-elite-fg-low-top-2.jpg"  alt="" class="prodnike9" height="650px" width="32.2%">
  
   
   </div>
<br><p class="blackp"></p><br>
<div class="div7prod">
    <span class="close7">X</span>
    <img src="./images/Nike Phantom Lune eilte SE.jpg" alt="" class="nike7prod">
    <img src="./images/image-removebg-preview (7).png" alt="" class="nike2logo">

    
    <div class="prodtitles">
        <h1 class="prodtitle">NIKE PHANTOM LUNA ELITE SE</h1>
        <p class="prodcolor">Magenta Thunder</p>

            <h5 class="prodratingtext">4</h5>
          <img src="./images/4star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 23,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>27,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
<div class="nike7">
    <button class="prodniketitle">&nbsp;&nbsp;NIKE PHANTOM LUNA ELITE SE&nbsp;&nbsp;</button>
    <img src="./images/Nike Phantom Lune eilte SE 3pic.jpg"  alt="" class="prodnike6" height="650px" width="32.2%">
    <img src="./images/Nike Phantom Lune eilte SE.jpg"  alt="" class="prodnike6" height="650px" width="32.2%">
    <img src="./images/Nike Phantom Lune eilte SE pic.jpg"  alt="" class="prodnike6" height="650px" width="32.2%">
   
   
   </div>
<br><p class="blackp"></p><br>
<div class="div8prod">
    <span class="close8">X</span>
    <img src="./images/2 Nike Phantom Lune eilte SE.png" alt="" class="nike8prod">
    <img src="./images/image-removebg-preview (7).png" alt="" class="nike2logo">

    
    <div class="prodtitles">
        <h1 class="prodtitle">NIKE PHANTOM LUNA ELITE SE</h1>
        <p class="prodcolor">Cyan Blush</p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 23,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>27,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
   <div class="nike8">
    <button class="prodniketitle">&nbsp;&nbsp;NIKE PHANTOM LUNA ELITE SE&nbsp;&nbsp;</button>
    <img src="./images/2 Nike Phantom Lune eilte SE 3pic.png"  alt="" class="prodnike7" height="650px" width="32.2%">
    <img src="./images/2 Nike Phantom Lune eilte SE.png"  alt="" class="prodnike7" height="650px" width="32.2%">
    <img src="./images/2 Nike Phantom Lune eilte SE 2pic.png"  alt="" class="prodnike7" height="650px" width="32.2%">
   
   
   </div>
<br><p class="blackp"></p><br>
<div class="div9prod">
    <span class="close9">X</span>
    <img src="./images/Nike Tiempo Legend 10 Elite.png" alt="" class="nike9prod">
    <img src="./images/image-removebg-preview (8).png" alt="" class="nike2logo">

    
    <div class="prodtitles">
        <h1 class="prodtitle">NIKE TIEMPO LEGEND 10 ELITE</h1>
        <p class="prodcolor">Creamy Black</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 25,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>28,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
   <div class="nike9">
   <button class="prodniketitle">&nbsp;&nbsp;NIKE TIEMPO LEGEND 10 ELITE&nbsp;&nbsp;</button>
   <img src="./images/Nike Tiempo Legend 10 Elite 3pic.png"  alt="" class="prodnike8" height="650px" width="32.2%">
   <img src="./images/Nike Tiempo Legend 10 Elite.png"  alt="" class="prodnike8" height="650px" width="32.2%">
   <img src="./images/Nike Tiempo Legend 10 Elite 2pic.png"  alt="" class="prodnike8" height="650px" width="32.2%">

   
   </div>
<br><p class="blackp"></p><br>
<div class="div10prod">
    <span class="close10">X</span>
    <img src="./images/2Black Nike Tiemp Legend 10 Elite 3pic.png" alt="" class="nike10prod">
    <img src="./images/image-removebg-preview (8).png" alt="" class="nike2logo">

    
    <div class="prodtitles">
        <h1 class="prodtitle">NIKE TIEMPO LEGEND 10 ELITE</h1>
        <p class="prodcolor">Soul Black</p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 24,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>27,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
   <div class="nike10">
    <button class="prodniketitle">&nbsp;&nbsp;NIKE TIEMPO LEGEND 10 ELITE&nbsp;&nbsp;</button>
    <img src="./images/2Black Nike Tiemp Legend 10 Elite 3pic.png"  alt="" class="prodnike10" height="650px" width="32.2%">
    <img src="./images/2Black Nike Tiemp Legend 10 Elite.png"  alt="" class="prodnike10" height="650px" width="32.2%">
    <img src="./images/2Black Nike Tiemp Legend 10 Elite 2pic.png"  alt="" class="prodnike10" height="650px" width="32.2%">
   
   
   </div>
   <br><p class="blackp"></p><br>
</div>
      
<br><br><br><br><br><br>
<div class="prodlogoback"><img src="./images/backprodadi.jpg" alt="" class="prodlogo2"></div>

<div class="blackback">

    <div class="div11prod">
        <span class="close11">X</span>
        <img src="./images/Adidas CrazyFast Strung.avif" alt="" class="nike11prod">
    
        
        <div class="prodtitles">
            <h1 class="prodtitle">ADIDAS CRAZYFAST STRUNG</h1>
            <p class="prodcolor">Lemon Gray</p>
    
                <h5 class="prodratingtext">5</h5>
              <img src="./images/5 star rating.png" alt="" class="prodrating" >
                
          <br><br>
          <span class="prodprice">&#8377; 28,999</span> &nbsp;&nbsp;<span class="discprice">
            <s>30,999</s></span>
            <br><hr>
            <br><br><p class="produsize"><u>Your Size ?</u></p>
            
            
           <div class="prodbuttons">
            <p class="prodsizenearbutton">Sizes:</p>
            <button class="pb" id="6">6</button>
           <button id="7" class="pb" >7</button>
           <button id="8" class="pb" >8</button>
           <button id="9" class="pb" >9</button>
           <button id="10"class="pb" >10</button>
           <button id="11" class="pb">11</button>
           
        </div>
        <br><br><br><br><br><br><br><br><br><br><br>
        <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
        <button class="prodaddtocart">Add to Cart</button>
          </div>
      </div>
    <div class="adidas1">
     <button class="prodniketitle">&nbsp;&nbsp;ADIDAS CRAZYFAST STRUNG&nbsp;&nbsp;</button>
      <img src="./images/Adidas CrazyFast Strung 3pic.avif" alt="" class="prodnike1" height="650px" width="32.2%">
     <img src="./images/Adidas CrazyFast Strung.avif" alt="" class="prodnike1" height="650px" width="32.2%">
     <img src="./images/Adidas CrazyFast Strung 2pic.avif" alt="" class="prodnike1" height="650px" width="32.2%">
     
     
    </div>
 <br><p class="blackp"></p><br>
 <div class="div12prod">
    <span class="close12">X</span>
    <img src="./images/Adidas Predator Elite Foldover Tongue.avif" alt="" class="nike12prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">ADIDAS PREDATOR ELITE FOLDOVER TONGUE</h1>
        <p class="prodcolor">Silver Black</p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 25,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>27,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
    <div class="adidas2">
     <button class="prodniketitle">&nbsp;&nbsp;ADIDAS PREDATOR ELITE FOLDOVER TONGUE</button>
     <img src="./images/Adidas Predator Elite Foldover Tongue 2pic.avif" alt="" class="prodnike2" height="650px" width="32.2%">
     <img src="./images/Adidas Predator Elite Foldover Tongue.avif" alt="" class="prodnike2" height="650px" width="32.2%">
     <img src="./images/Adidas Predator Elite Foldover Tongue 3pic.avif" alt="" class="prodnike2" height="650px" width="32.2%">
    
    
     </div>
 <br><p class="blackp"></p><br>
 <div class="div13prod">
    <span class="close13">X</span>
    <img src="./images/Adidas Predator Accuray 2pic.avif" alt="" class="nike13prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">ADIDAS PREDATOR ACCURACY</h1>
        <p class="prodcolor">Ocean Blue</p>

            <h5 class="prodratingtext">4</h5>
          <img src="./images/4star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 20,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>23,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
     <div class="adidas3">
      <button class="prodniketitle">&nbsp;&nbsp;ADIDAS PREDATOR ACCURACY</button>
      <img src="./images/Adidas Predator Accuray 2pic.avif"  alt="" class="prodnike3" height="650px" width="32.2%">
      <img src="./images/Adidas Predator Accuray.avif"  alt="" class="prodnike3" height="650px" width="32.2%">
      <img src="./images/Adidas Predator Accuray 3pic.avif"  alt="" class="prodnike3" height="650px" width="32.2%">
    
    
 </div>
 <br><p class="blackp"></p><br>
 <div class="div14prod">
    <span class="close14">X</span>
    <img src="./images/Adidas Predator Elite Laceless 2pic.avif" alt="" class="nike14prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">ADIDAS PREDATOR ELITE LACELESS</h1>
        <p class="prodcolor">Fiery Red</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 27,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
 <div class="adidas4">
     <button class="prodniketitle">&nbsp;&nbsp;ADIDAS PREDATOR ELITE LACELESS</button>
     <img src="./images/Adidas Predator Elite Laceless 2pic.avif"  alt="" class="prodnike4" height="650px" width="32.2%">
     <img src="./images/Adidas Predator Elite Laceless.avif"  alt="" class="prodnike4" height="650px" width="32.2%">
     <img src="./images/Adidas Predator Elite Laceless 3pic.avif"  alt="" class="prodnike4" height="650px" width="32.2%">
    
    
 </div>
 <br><p class="blackp"></p><br>
 <div class="div15prod">
    <span class="close15">X</span>
    <img src="./images/Adidas Predator Elite LACELESS RED BLACK 2pic.avif" alt="" class="nike15prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">ADIDAS PREDATOR ELITE LACELESS</h1>
        <p class="prodcolor">Blacky Red</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 27,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
 <div class="adidas5">
     <button class="prodniketitle">&nbsp;&nbsp;ADIDAS PREDATOR ELITE LACELESS&nbsp;&nbsp;</button>
     <img src="./images/Adidas Predator Elite LACELESS RED BLACK 2pic.avif"  alt="" class="prodnike5" height="650px" width="32.2%">
     <img src="./images/Adidas Predator Elite LACELESS RED BLACK.avif"  alt="" class="prodnike5" height="650px" width="32.2%">
     <img src="./images/Adidas Predator Elite LACELESS RED BLACK 3pic.avif"  alt="" class="prodnike5" height="650px" width="32.2%">
    
    
 </div>
 <br><p class="blackp"></p><br>
 <div class="div16prod">
    <span class="close16">X</span>
    <img src="./images/Adidas X Crazyfast 2pic.avif" alt="" class="nike16prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">ADIDAS X CRAZYFAST</h1>
        <p class="prodcolor">Blaze Yellow</p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
 <div class="adidas6">
     <button class="prodniketitle">&nbsp;&nbsp;ADIDAS X CRAZYFAST&nbsp;&nbsp;</button>
     <img src="./images/Adidas X Crazyfast 2pic.avif"  alt="" class="prodnike9" height="650px" width="32.2%">
     <img src="./images/Adidas X Crazyfast.avif"  alt="" class="prodnike9" height="650px" width="32.2%">
     <img src="./images/Adidas X Crazyfast 3pic.avif"  alt="" class="prodnike9" height="650px" width="32.2%">
   
    
    </div>
 <br><p class="blackp"></p><br>
 <div class="div17prod">
    <span class="close17">X</span>
    <img src="./images/Adidas X Crazyfast Elite ll 2pic.avif" alt="" class="nike17prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">ADIDAS X CRAZYFAST ELITE 11</h1>
        <p class="prodcolor">Vanish Yellow</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 30,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>33,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
 <div class="adidas7">
     <button class="prodniketitle">&nbsp;&nbsp;ADIDAS X CRAZYFAST ELITE 11&nbsp;&nbsp;</button>
     <img src="./images/Adidas X Crazyfast Elite ll 2pic.avif"  alt="" class="prodnike6" height="650px" width="32.2%">
     <img src="./images/Adidas X Crazyfast Elite ll.avif"  alt="" class="prodnike6" height="650px" width="32.2%">
     <img src="./images/Adidas X Crazyfast Elite ll 3pic.avif"  alt="" class="prodnike6" height="650px" width="32.2%">
    
    
    </div>
 <br><p class="blackp"></p><br>
 <div class="div18prod">
    <span class="close18">X</span>
    <img src="./images/Adidas Copa Pure 2 Elite 2pic.avif" alt="" class="nike18prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">ADIDAS COPA PURE 2 ELITE</h1>
        <p class="prodcolor">Beige Peach</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>28,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
    <div class="adidas8">
     <button class="prodniketitle">&nbsp;&nbsp;ADIDAS COPA PURE 2 ELITE&nbsp;&nbsp;</button>
     <img src="./images/Adidas Copa Pure 2 Elite 2pic.avif"  alt="" class="prodnike7" height="650px" width="32.2%">
     <img src="./images/Adidas Copa Pure 2 Elite.avif"  alt="" class="prodnike7" height="650px" width="32.2%">
     <img src="./images/Adidas Copa Pure 2 Elite 3pic.avif"  alt="" class="prodnike7" height="650px" width="32.2%">
    
    
    </div>
 <br><p class="blackp"></p><br>
 <div class="div19prod">
    <span class="close19">X</span>
    <img src="./images/Adidas Copa Pure 2 League 2pic.avif" alt="" class="nike19prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">ADIDAS COPA PURE 2 LEAGUE</h1>
        <p class="prodcolor">Beige Peach</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 29,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>31,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
    <div class="adidas9">
    <button class="prodniketitle">&nbsp;&nbsp;ADIDAS COPA PURE 2 LEAGUE&nbsp;&nbsp;</button>
    <img src="./images/Adidas Copa Pure 2 League 2pic.avif"  alt="" class="prodnike8" height="650px" width="32.2%">
    <img src="./images/Adidas Copa Pure 2 League.avif"  alt="" class="prodnike8" height="650px" width="32.2%">
    <img src="./images/Adidas Copa Pure 2 League 3pic.avif"  alt="" class="prodnike8" height="650px" width="32.2%">
 
    
    </div>
 <br><p class="blackp"></p><br>
 <div class="div20prod">
    <span class="close20">X</span>
    <img src="./images/Adidas Copa Pure II 2pic.avif" alt="" class="nike20prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">ADIDAS COPA PURE II</h1>
        <p class="prodcolor">Beige Peach</p>

            <h5 class="prodratingtext">4</h5>
          <img src="./images/4star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
    <div class="adidas10">
     <button class="prodniketitle">&nbsp;&nbsp;ADIDAS COPA PURE II&nbsp;&nbsp;</button>
     <img src="./images/Adidas Copa Pure II 2pic.avif"  alt="" class="prodnike10" height="650px" width="32.2%">
     <img src="./images/Adidas Copa Pure II.avif"  alt="" class="prodnike10" height="650px" width="32.2%">
     <img src="./images/Adidas Copa Pure II 3pic.avif"  alt="" class="prodnike10" height="650px" width="32.2%">
    
    
    </div>
    <br><p class="blackp"></p><br>
 </div>


 <br><br><br><br><br><br>
<div class="prodlogoback"><img src="./images/pumaaaaaaaaalooo.jpg" alt="" class="prodlogo2"></div>

<div class="blackback">
    <div class="div21prod">
        <span class="close21">X</span>
        <img src="./images/Puma blue Future Ultimate.avif" alt="" class="nike21prod">
    
        
        <div class="prodtitles">
            <h1 class="prodtitle">PUMA FUTURE ULTIMATE</h1>
            <p class="prodcolor">Neo Blue</p>
    
                <h5 class="prodratingtext">4.5</h5>
              <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
                
          <br><br>
          <span class="prodprice">&#8377; 24,999</span> &nbsp;&nbsp;<span class="discprice">
            <s>26,999</s></span>
            <br><hr>
            <br><br><p class="produsize"><u>Your Size ?</u></p>
            
            
           <div class="prodbuttons">
            <p class="prodsizenearbutton">Sizes:</p>
            <button class="pb" id="6">6</button>
           <button id="7" class="pb" >7</button>
           <button id="8" class="pb" >8</button>
           <button id="9" class="pb" >9</button>
           <button id="10"class="pb" >10</button>
           <button id="11" class="pb">11</button>
           
        </div>
        <br><br><br><br><br><br><br><br><br><br><br>
        <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
        <button class="prodaddtocart">Add to Cart</button>
          </div>
      </div>    
    <div class="puma1" id="productpuma">
     <button class="prodniketitle">&nbsp;&nbsp;PUMA FUTURE ULTIMATE&nbsp;&nbsp;</button>
      <img src="./images/Puma blue Future Ultimate 2pic.avif" alt="" class="prodnike1" height="650px" width="32.2%">
     <img src="./images/Puma blue Future Ultimate.avif" alt="" class="prodnike1" height="650px" width="32.2%">
     <img src="./images/Puma blue Future Ultimate 3pic.avif" alt="" class="prodnike1" height="650px" width="32.2%">
     
     
    </div>
 <br><p class="blackp"></p><br>
 <div class="div22prod">
    <span class="close22">X</span>
    <img src="./images/Puma Blue KING Ultimate.avif" alt="" class="nike22prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">PUMA KING ULTIMATE</h1>
        <p class="prodcolor">Deep Blue</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 27,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>30,000</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
    <div class="puma2">
     <button class="prodniketitle">&nbsp;&nbsp;PUMA KING ULTIMATE</button>
     <img src="./images/Puma Blue KING Ultimate 2pic.avif" alt="" class="prodnike2" height="650px" width="32.2%">
     <img src="./images/Puma Blue KING Ultimate.avif" alt="" class="prodnike2" height="650px" width="32.2%">
     <img src="./images/Puma Blue KING Ultimate 3pic.avif" alt="" class="prodnike2" height="650px" width="32.2%">
    
    
     </div>
 <br><p class="blackp"></p><br>
 <div class="div23prod">
    <span class="close23">X</span>
    <img src="./images/Puma Blue Ultra Ultimate.avif" alt="" class="nike23prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">PUMA KING ULTRA ULTIMATE</h1>
        <p class="prodcolor">Clear Blue</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 29,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>32,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
     <div class="puma3">
      <button class="prodniketitle">&nbsp;&nbsp;PUMA KING ULTRA ULTIMATE</button>
      <img src="./images/Puma Blue Ultra Ultimate2pic.avif"  alt="" class="prodnike3" height="650px" width="32.2%">
      <img src="./images/Puma Blue Ultra Ultimate.avif"  alt="" class="prodnike3" height="650px" width="32.2%">
      <img src="./images/Puma Blue Ultra Ultimate 3pic.avif"  alt="" class="prodnike3" height="650px" width="32.2%">
    
    
 </div>
 <br><p class="blackp"></p><br>
 <div class="div24prod">
    <span class="close24">X</span>
    <img src="./images/Puma BW KING Ultimate.avif" alt="" class="nike24prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">PUMA KING ULTIMATE</h1>
        <p class="prodcolor">Original B/W</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
 <div class="puma4">
     <button class="prodniketitle">&nbsp;&nbsp;PUMA KING ULTIMATE</button>
     <img src="./images/Puma BW KING Ultimate 2pic.avif"  alt="" class="prodnike4" height="650px" width="32.2%">
     <img src="./images/Puma BW KING Ultimate.avif"  alt="" class="prodnike4" height="650px" width="32.2%">
     <img src="./images/Puma BW KING Ultimate 3pic.avif"  alt="" class="prodnike4" height="650px" width="32.2%">
    
    
 </div>
 <br><p class="blackp"></p><br>
 <div class="div25prod">
    <span class="close25">X</span>
    <img src="./images/Puma Future 7 Creativity.avif" alt="" class="nike25prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">PUMA FUTURE 7 CREATIVITY</h1>
        <p class="prodcolor">Scattered White</p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 25,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>28,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
 <div class="puma5">
     <button class="prodniketitle">&nbsp;&nbsp;PUMA FUTURE 7 CREATIVITY&nbsp;&nbsp;</button>
     <img src="./images/Puma Future 7 Creativity 2pic.avif"  alt="" class="prodnike5" height="650px" width="32.2%">
     <img src="./images/Puma Future 7 Creativity.avif"  alt="" class="prodnike5" height="650px" width="32.2%">
     <img src="./images/Puma Future 7 Creativity 3pic.avif"  alt="" class="prodnike5" height="650px" width="32.2%">
    
    
 </div>
 <br><p class="blackp"></p><br>
 <div class="div26prod">
    <span class="close26">X</span>
    <img src="./images/Puma Future 7 Ultimate.avif" alt="" class="nike26prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">PUMA FUTURE ULTIMATE</h1>
        <p class="prodcolor">Flora White</p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 27,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
 <div class="puma6">
     <button class="prodniketitle">&nbsp;&nbsp;PUMA FUTURE ULTIMATE&nbsp;&nbsp;</button>
     <img src="./images/Puma Future 7 Ultimate 2pic.avif"  alt="" class="prodnike9" height="650px" width="32.2%">
     <img src="./images/Puma Future 7 Ultimate.avif"  alt="" class="prodnike9" height="650px" width="32.2%">
     <img src="./images/Puma Future 7 Ultimate 3pic.avif"  alt="" class="prodnike9" height="650px" width="32.2%">
   
    
    </div>
 <br><p class="blackp"></p><br>
 <div class="div27prod">
    <span class="close27">X</span>
    <img src="./images/Puma Future Ultimate.avif" alt="" class="nike27prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">PUMA FUTURE ULTIMATE</h1>
        <p class="prodcolor">Race Yellow</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 27,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
 <div class="puma7">
     <button class="prodniketitle">&nbsp;&nbsp;PUMA FUTURE ULTIMATE&nbsp;&nbsp;</button>
     <img src="./images/Puma Future Ultimate 2pic.avif"  alt="" class="prodnike6" height="650px" width="32.2%">
     <img src="./images/Puma Future Ultimate.avif"  alt="" class="prodnike6" height="650px" width="32.2%">
     <img src="./images/Puma Future Ultimate 3pic.avif"  alt="" class="prodnike6" height="650px" width="32.2%">
    
    
    </div>
 <br><p class="blackp"></p><br>
 <div class="div28prod">
    <span class="close28">X</span>
    <img src="./images/Puma KING Ultimate.avif" alt="" class="nike28prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">PUMA KING ULTIMATE</h1>
        <p class="prodcolor">Gold Black/p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 27,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
    <div class="puma8">
     <button class="prodniketitle">&nbsp;&nbsp;PUMA KING ULTIMATE&nbsp;&nbsp;</button>
     <img src="./images/Puma KING Ultimate 2pic.avif"  alt="" class="prodnike7" height="650px" width="32.2%">
     <img src="./images/Puma KING Ultimate.avif"  alt="" class="prodnike7" height="650px" width="32.2%">
     <img src="./images/Puma KING Ultimate 3pic.avif"  alt="" class="prodnike7" height="650px" width="32.2%">
    
    
    </div>
 <br><p class="blackp"></p><br>
 <div class="div29prod">
    <span class="close29">X</span>
    <img src="./images/Puma Ultra Ultimate.avif" alt="" class="nike29prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">PUMA ULTRA ULTIMATE</h1>
        <p class="prodcolor">Magenta Pink</p>

            <h5 class="prodratingtext">4</h5>
          <img src="./images/4star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 25,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>28,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
    <div class="puma9">
    <button class="prodniketitle">&nbsp;&nbsp;PUMA ULTRA ULTIMATE&nbsp;&nbsp;</button>
    <img src="./images/Puma Ultra Ultimate 2pic.avif"  alt="" class="prodnike8" height="650px" width="32.2%">
    <img src="./images/Puma Ultra Ultimate.avif"  alt="" class="prodnike8" height="650px" width="32.2%">
    <img src="./images/Puma Ultra Ultimate 3pic.avif"  alt="" class="prodnike8" height="650px" width="32.2%">
 
    
    </div>
 <br><p class="blackp"></p><br>
 <div class="div30prod">
    <span class="close30">X</span>
    <img src="./images/Puma Ultra Ultimate Blackstars.avif" alt="" class="nike30prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">PUMA ULTRA ULTIMATE</h1>
        <p class="prodcolor">Future Black</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 27,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
    <div class="puma10">
     <button class="prodniketitle">&nbsp;&nbsp;PUMA ULTRA ULTIMATE&nbsp;&nbsp;</button>
     <img src="./images/Puma Ultra Ultimate Blackstars 2pic.avif"  alt="" class="prodnike10" height="650px" width="32.2%">
     <img src="./images/Puma Ultra Ultimate Blackstars.avif"  alt="" class="prodnike10" height="650px" width="32.2%">
     <img src="./images/Puma Ultra Ultimate Blackstars 3pic.avif"  alt="" class="prodnike10" height="650px" width="32.2%">
    
    
    </div>
    <br><p class="blackp"></p><br>
 </div>


 <br><br><br><br><br><br>
 <div class="prodlogoback"><img src="./images/pngfind.com-mizuno-logo-png-3595426.png" alt="" class="prodlogo2"></div>
 
 <div class="blackback">
    <div class="div31prod">
        <span class="close31">X</span>
        <img src="./images/Mizuno Aplha  white1.jpg " alt="" class="nike31prod">
    
        
        <div class="prodtitles">
            <h1 class="prodtitle">MIZUNO APLHA WHITE</h1>
            <p class="prodcolor">Speed White</p>
    
                <h5 class="prodratingtext">5</h5>
              <img src="./images/5 star rating.png" alt="" class="prodrating" >
                
          <br><br>
          <span class="prodprice">&#8377; 28,999</span> &nbsp;&nbsp;<span class="discprice">
            <s>30,999</s></span>
            <br><hr>
            <br><br><p class="produsize"><u>Your Size ?</u></p>
            
            
           <div class="prodbuttons">
            <p class="prodsizenearbutton">Sizes:</p>
            <button class="pb" id="6">6</button>
           <button id="7" class="pb" >7</button>
           <button id="8" class="pb" >8</button>
           <button id="9" class="pb" >9</button>
           <button id="10"class="pb" >10</button>
           <button id="11" class="pb">11</button>
           
        </div>
        <br><br><br><br><br><br><br><br><br><br><br>
        <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
        <button class="prodaddtocart">Add to Cart</button>
          </div>
      </div>
     <div class="mizuno1">
      <button class="prodniketitle">&nbsp;&nbsp;MIZUNO APLHA WHITE&nbsp;&nbsp;</button>
       <img src="./images/Mizuno Aplha  white1.jpg " alt="" class="prodnike1" height="650px" width="32.2%">
      <img src="./images/Mizuno Aplha  white 2pic.jpg" alt="" class="prodnike1" height="650px" width="32.2%">
      <img src="./images/Mizuno Aplha  white 3pic.jpg" alt="" class="prodnike1" height="650px" width="32.2%">
      
      
     </div>
  <br><p class="blackp"></p><br>
  <div class="div32prod">
    <span class="close32">X</span>
    <img src="./images/Mizuno Aplha black.jpg" alt="" class="nike32prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">MIZUNO APLHA BLACK</h1>
        <p class="prodcolor">Orange Black</p>

            <h5 class="prodratingtext">4</h5>
          <img src="./images/4star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 24,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>26,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
     <div class="mizuno2">
      <button class="prodniketitle">&nbsp;&nbsp;MIZUNO APLHA BLACK</button>
      <img src="./images/Mizuno Aplha black.jpg" alt="" class="prodnike2" height="650px" width="32.2%">
      <img src="./images/Mizuno Aplha black 2pic.jpg" alt="" class="prodnike2" height="650px" width="32.2%">
      <img src="./images/Mizuno Aplha black 3pic.jpg" alt="" class="prodnike2" height="650px" width="32.2%">
     
     
      </div>
  <br><p class="blackp"></p><br>
  <div class="div33prod">
    <span class="close33">X</span>
    <img src="./images/Mizuno Aplha.jpg" alt="" class="nike33prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">MIZUNO APLHA </h1>
        <p class="prodcolor">Gold White</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 30,000</span> &nbsp;&nbsp;<span class="discprice">
        <s>31,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
      <div class="mizuno3">
       <button class="prodniketitle">&nbsp;&nbsp;MIZUNO APLHA </button>
       <img src="./images/Mizuno Aplha.jpg"  alt="" class="prodnike3" height="650px" width="32.2%">
       <img src="./images/Mizuno Aplha 2pic.jpg"  alt="" class="prodnike3" height="650px" width="32.2%">
       <img src="./images/Mizuno Aplha 3pic.jpg"  alt="" class="prodnike3" height="650px" width="32.2%">
     
     
  </div>
  <br><p class="blackp"></p><br>
  <div class="div34prod">
    <span class="close34">X</span>
    <img src="./images/Mizuno Aplha curacao.jpg" alt="" class="nike34prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">MIZUNO APLHA CURACAO</h1>
        <p class="prodcolor">Tan Curacao</p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 24,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>27,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
  <div class="mizuno4">
      <button class="prodniketitle">&nbsp;&nbsp;MIZUNO APLHA CURACAO</button>
      <img src="./images/Mizuno Aplha curacao.jpg"  alt="" class="prodnike4" height="650px" width="32.2%">
      <img src="./images/Mizuno Aplha curacao 2pic.jpg"  alt="" class="prodnike4" height="650px" width="32.2%">
      <img src="./images/Mizuno Aplha curacao 3pic.jpg"  alt="" class="prodnike4" height="650px" width="32.2%">
     
     
  </div>
  <br><p class="blackp"></p><br>
  <div class="div35prod">
    <span class="close35">X</span>
    <img src="./images/Mizuno Morelia Neo III Beta black red.jpg" alt="" class="nike35prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">MIZUNO MORELIA NEO III BETA</h1>
        <p class="prodcolor">Black Red</p>

            <h5 class="prodratingtext">4.5</h5>
          <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>27,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
  <div class="mizuno5">
      <button class="prodniketitle">&nbsp;&nbsp;MIZUNO MORELIA NEO III BETA&nbsp;&nbsp;</button>
      <img src="./images/Mizuno Morelia Neo III Beta black red.jpg"  alt="" class="prodnike5" height="650px" width="32.2%">
      <img src="./images/Mizuno Morelia Neo III Beta black red 2pic.jpg"  alt="" class="prodnike5" height="650px" width="32.2%">
      <img src="./images/Mizuno Morelia Neo III Beta black red 3pic.jpg"  alt="" class="prodnike5" height="650px" width="32.2%">
     
     
  </div>
  <br><p class="blackp"></p><br>
  <div class="div36prod">
    <span class="close36">X</span>
    <img src="./images/Mizuno Morelia Neo III Beta Blue.jpg" alt="" class="nike36prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">MIZUNO MORELIA NEO III BETA</h1>
        <p class="prodcolor">Cyan Blue</p>

            <h5 class="prodratingtext">4</h5>
          <img src="./images/4star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>27,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
  <div class="mizuno6">
      <button class="prodniketitle">&nbsp;&nbsp;MIZUNO MORELIA NEO III BETA&nbsp;&nbsp;</button>
      <img src="./images/Mizuno Morelia Neo III Beta Blue.jpg"  alt="" class="prodnike9" height="650px" width="32.2%">
      <img src="./images/Mizuno Morelia Neo III Beta blue 2pic.jpg"  alt="" class="prodnike9" height="650px" width="32.2%">
      <img src="./images/Mizuno Morelia Neo III Beta Blue 3pic.jpg"  alt="" class="prodnike9" height="650px" width="32.2%">
    
     
     </div>
  <br><p class="blackp"></p><br>
  <div class="div37prod">
    <span class="close37">X</span>
    <img src="./images/Mizuno Morelia Neo III Beta white.jpg" alt="" class="nike37prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">MIZUNO MORELIA NEO III BETA</h1>
        <p class="prodcolor">White Blaze</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 27,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
  <div class="mizuno7">
      <button class="prodniketitle">&nbsp;&nbsp;MIZUNO MORELIA NEO III BETA&nbsp;&nbsp;</button>
      <img src="./images/Mizuno Morelia Neo III Beta white.jpg"  alt="" class="prodnike6" height="650px" width="32.2%">
      <img src="./images/Mizuno Morelia Neo III Beta white 2pic.jpg"  alt="" class="prodnike6" height="650px" width="32.2%">
      <img src="./images/Mizuno Morelia Neo III Beta white 3pic.jpg"  alt="" class="prodnike6" height="650px" width="32.2%">
     
     
     </div>
  <br><p class="blackp"></p><br>
  <div class="div38prod">
    <span class="close38">X</span>
    <img src="./images/Mizuno Morelia Neo IV Beta black.jpg" alt="" class="nike38prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">MIZUNO MORELIA NEO III BETA</h1>
        <p class="prodcolor">Gold Black</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 27,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
     <div class="mizuno8">
      <button class="prodniketitle">&nbsp;&nbsp;MIZUNO MORELIA NEO III BETA&nbsp;&nbsp;</button>
      <img src="./images/Mizuno Morelia Neo IV Beta black.jpg"  alt="" class="prodnike7" height="650px" width="32.2%">
      <img src="./images/Mizuno Morelia Neo IV Beta black 2pic.jpg"  alt="" class="prodnike7" height="650px" width="32.2%">
      <img src="./images/Mizuno Morelia Neo IV Beta black 3pic.jpg"  alt="" class="prodnike7" height="650px" width="32.2%">
     
     
     </div>
  <br><p class="blackp"></p><br>
  <div class="div39prod">
    <span class="close39">X</span>
    <img src="./images/Mizuno Morelia Neo IV Beta red.jpg" alt="" class="nike39prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">MIZUNO MORELIA NEO IV BETA</h1>
        <p class="prodcolor">Baby Pink</p>

            <h5 class="prodratingtext">4</h5>
          <img src="./images/4star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>27,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
     <div class="mizuno9">
     <button class="prodniketitle">&nbsp;&nbsp;MIZUNO MORELIA NEO IV BETA&nbsp;&nbsp;</button>
     <img src="./images/Mizuno Morelia Neo IV Beta red.jpg"  alt="" class="prodnike8" height="650px" width="32.2%">
     <img src="./images/Mizuno Morelia Neo IV Beta red 2pic.jpg"  alt="" class="prodnike8" height="650px" width="32.2%">
     <img src="./images/Mizuno Morelia Neo IV Beta red 3pic.jpg"  alt="" class="prodnike8" height="650px" width="32.2%">
  
     
     </div>
  <br><p class="blackp"></p><br>
  <div class="div40prod">
    <span class="close40">X</span>
    <img src="./images/Mizuno Morelia Neo IV Beta white.jpg" alt="" class="nike40prod">

    
    <div class="prodtitles">
        <h1 class="prodtitle">MIZUNO MORELIA NEO IV BETA</h1>
        <p class="prodcolor">Zesty White</p>

            <h5 class="prodratingtext">5</h5>
          <img src="./images/5 star rating.png" alt="" class="prodrating" >
            
      <br><br>
      <span class="prodprice">&#8377; 28,999</span> &nbsp;&nbsp;<span class="discprice">
        <s>29,999</s></span>
        <br><hr>
        <br><br><p class="produsize"><u>Your Size ?</u></p>
        
        
       <div class="prodbuttons">
        <p class="prodsizenearbutton">Sizes:</p>
        <button class="pb" id="6">6</button>
       <button id="7" class="pb" >7</button>
       <button id="8" class="pb" >8</button>
       <button id="9" class="pb" >9</button>
       <button id="10"class="pb" >10</button>
       <button id="11" class="pb">11</button>
       
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
    <button class="prodaddtocart">Add to Cart</button>
      </div>
  </div>
     <div class="mizuno10">
      <button class="prodniketitle">&nbsp;&nbsp;MIZUNO MORELIA NEO IV BETA&nbsp;&nbsp;</button>
      <img src="./images/Mizuno Morelia Neo IV Beta white.jpg"  alt="" class="prodnike10" height="650px" width="32.2%">
      <img src="./images/Mizuno Morelia Neo IV Beta white 2pic.jpg"  alt="" class="prodnike10" height="650px" width="32.2%">
      <img src="./images/Mizuno Morelia Neo IV Beta white 3pic.jpg"  alt="" class="prodnike10" height="650px" width="32.2%">
     
     
     </div>
     <br><p class="blackp"></p><br>
     <div class="div41prod">
        <span class="close41">X</span>
        <img src="./images/Mizuno Morelia Neo IV Beta yellow.jpg" alt="" class="nike41prod">
    
        
        <div class="prodtitles">
            <h1 class="prodtitle">MIZUNO MORELIA NEO IV BETA</h1>
            <p class="prodcolor">Sun Yellow</p>
    
                <h5 class="prodratingtext">4.5</h5>
              <img src="./images/4.5 star rating.png" alt="" class="prodrating" >
                
          <br><br>
          <span class="prodprice">&#8377; 26,999</span> &nbsp;&nbsp;<span class="discprice">
            <s>28,999</s></span>
            <br><hr>
            <br><br><p class="produsize"><u>Your Size ?</u></p>
            
            
           <div class="prodbuttons">
            <p class="prodsizenearbutton">Sizes:</p>
            <button class="pb" id="6">6</button>
           <button id="7" class="pb" >7</button>
           <button id="8" class="pb" >8</button>
           <button id="9" class="pb" >9</button>
           <button id="10"class="pb" >10</button>
           <button id="11" class="pb">11</button>
           
        </div>
        <br><br><br><br><br><br><br><br><br><br><br>
        <button class="prodbuybutton">BUY NOW</button>&nbsp;&nbsp;
        <button class="prodaddtocart">Add to Cart</button>
          </div>
      </div>

     <div class="mizuno11">
      
        <button class="prodniketitle">&nbsp;&nbsp;MIZUNO MORELIA NEO IV BETA&nbsp;&nbsp;</button>
        <img src="./images/Mizuno Morelia Neo IV Beta yellow.jpg"  alt="" class="prodnike10" height="650px" width="32.2%">
        <img src="./images/Mizuno Morelia Neo IV Beta yellow 2pic.jpg"  alt="" class="prodnike10" height="650px" width="32.2%">
        <img src="./images/Mizuno Morelia Neo IV Beta yellow 3pic.jpg"  alt="" class="prodnike10" height="650px" width="32.2%">
       
       
       </div>
       <br><p class="blackp"></p><br>
  </div>

      <script src="app.js"></script>   
    </body>
</html>